

.slider-wrapper {
  position: relative;
}

.slider-viewport {
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

.slider-viewport::-webkit-scrollbar {
  display: none; 
}


.slider-track {
  display: flex;
  gap: 16px;
  padding: 20px 0;
  width: max-content;
}


.slider-item {
  flex: 0 0 260px;
}


.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: #000;
  color: #fff;
  font-size: 28px;
  z-index: 10;
  cursor: pointer;
}

.slider-btn.left {
  left: -20px;
}

.slider-btn.right {
  right: -20px;
}

@media (max-width: 992px) {
  .slider-item {
    flex: 0 0 45%;
  }
}

@media (max-width: 576px) {
  .slider-item {
    flex: 0 0 85%;
  }
  .slider-btn {
    display: none; 
  }
}



.product-card {
  background: #fff;
  border-radius: 14px;
  padding: 20px 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.product-img-wrapper {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.35);
}


.product-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 18px 0;
}

.icon-btn {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #222;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
   text-decoration: none; 
}

.icon-btn:hover{
  background-color: #1b1a1b;
  color :white
}

.product-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.product-price {
  font-weight: 700;
}

